name: Scan Container Image with Grype

on:
  workflow_call:
    inputs:
      SCAN_NAME:
        type: string
        description: |
          A developer friendly name for the image to differentiate scan reports where a repository is
          building multiple images.
      IMAGE_REF:
        type: string
        description: |
          Specifies the full image reference (repository, name and tag) for an image you wish to scan.
        required: true
      PATH_TO_GRYPE_CONFIG_ONLY_FOR_BUILD_IMAGE:
        required: false
        type: string
        description: Path to custom grype yaml file. NEVER use .grype.yaml, must be non-default filename. Only allowed for BUILD image, MUST NOT be used with DEPLOY images.
      DRY_RUN:
        required: false
        default: false
        type: boolean
        description: Flag to download an artifact image (named as ${SCAN_NAME}.tar) and scan
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  grype-scan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.1

      - name: Maybe setup custom Grype config
        if: ${{ inputs.PATH_TO_GRYPE_CONFIG_ONLY_FOR_BUILD_IMAGE != '' }}
        run: cp ${{ inputs.PATH_TO_GRYPE_CONFIG_ONLY_FOR_BUILD_IMAGE }} ./.grype.yaml

      - name: Login to Docker Hub
        uses: docker/login-action@v3.3.0
        if: ${{ !inputs.DRY_RUN }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Download image artifact
        uses: actions/download-artifact@v4
        if: ${{ inputs.DRY_RUN }}
        with:
          name: ${{ inputs.SCAN_NAME }}.tar
          path: .

      - name: Load docker image for dry run scans
        if: ${{ inputs.DRY_RUN }}
        run: docker load --input ${{ inputs.SCAN_NAME }}.tar

      - name: Grype Container Vulnerability Scan
        id: grype-scan
        uses: anchore/scan-action@v4.1.2
        with:
          image: ${{ inputs.IMAGE_REF }}
          output-format: json
          fail-build: false

      - name: Upload Vulnerability Scan Results
        uses: actions/upload-artifact@v4.4.3
        with:
          name: grype-docker-report-${{ inputs.SCAN_NAME }}
          path: ${{ steps.grype-scan.outputs.json }}
          retention-days: 30

      - name: Fail Build on High/Critical Vulnerabilities
        uses: anchore/scan-action@v4.1.2
        with:
          image: ${{ inputs.IMAGE_REF }}
          output-format: table
          severity-cutoff: high
          fail-build: true
