name: Test feature branch
on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        default: "."
        type: string
        description: directory to run all run commands from
      yarn-test-command:
        required: false
        default: "test"
        type: string
        description: Yarn test command e.g. "test" or "test:ci"

jobs:
  quality:
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'wip:') }}
    permissions:
      id-token: write
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - name: configure-node
        uses: actions/setup-node@v5.0.0
        with:
          node-version: 20
      - name: Get node version
        id: node
        run: |
          echo "version=$(node -v)" >> $GITHUB_OUTPUT
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - name: Cache node modules
        uses: actions/cache@v4.2.3
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}-${{ steps.node.outputs.version }}
      - name: create .yarnrc file
        run: |
          npm config set "@telicent-oss:registry" "https://www.npmjs.com/"
          npm config set "//www.npmjs.com//:_authToken" ${{ secrets.NPM_REGISTRY_TOKEN }} 
      - name: Install dependencies
        run: yarn install
      - name: yarn tsc --noEmit if needed
        run: |
          if [ -f tsconfig.json ]; then
            echo "TypeScript config found."
            TSC_IGNORE=$(node -p "require('./package.json').ci?.['shared-workflows/.github/workflows/javascript-test-feature-branch.yml']?.['WARNING: TSC CHECK NO ERROR'] || ''")
            if [ "$TSC_IGNORE" != "" ]; then
              echo "WARNING flag found in package.json. Running tsc --noEmit (errors will be ignored)..."
              yarn tsc --noEmit || echo "tsc failed but error ignored due to warning flag."
            else
              echo "Running tsc --noEmit..."
              yarn tsc --noEmit
            fi
          else
            echo "No TypeScript config found. Skipping tsc..."
          fi
      - name: run integrated tests
        run: yarn ${{ inputs.yarn-test-command }}
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
