name: Maven Build

on:
  workflow_call:
    inputs:
      DOCKER_PROFILE:
        required: false
        type: string
        default: docker
        description: |
          Specifies the name of the profile that enables/disables Docker based tests.
      USES_DOCKERHUB_IMAGES:
        required: false
        type: boolean
        default: false
        description: |
          Specifies whether this build needs to pull images from DockerHub.
      PUBLIC_IMAGES:
        required: false
        type: string
        default: ""
        description: |
          Specifies a newline separated list of public image references that the build should pull
          and cache to speed up builds.

          Images are only pulled and cached on the specified `MAIN_BRANCH`, other branches will only
          restore the cache if it exists.
      MAVEN_ARGS:
        required: false
        type: string
        default: ""
        description: |
          Specifies any additional arguments to pass to the Maven invocations.
      MAVEN_DEBUG_ARGS:
        required: false
        type: string
        default: ""
        description: |
          Specifies any additional arguments to pass to the Maven invocations when the workflow is run in 
          debug mode.
      MAVEN_BUILD_GOALS:
        required: false
        type: string
        default: install
        description: |
          Specifies the Maven goal(s) to use when building the project.  Defaults to `install`.
      MAVEN_DEPLOY_GOALS:
        required: false
        type: string
        default: deploy
        description: |
          Specifies the Maven goal(s) to use when deploying the project, assuming `PUBLISH_SNAPSHOTS` was set to `true`
          and we're on the configured `MAIN_BRANCH`.  Defaults to `deploy`.
      MAVEN_REPOSITORY_ID:
        required: false
        type: string
        default: sonatype-oss
        description: |
          Specifies the ID of the repository to which `SNAPSHOT`s and Releases are published, this **MUST** match 
          the ID of a repository defined in the `pom.xml` for the project in order for credentials to be correctly 
          configured.
      JAVA_VERSION:
        required: false
        type: number
        default: 21
        description: |
          Specifies the JDK version to install and build with.  Defaults to 21.
      JDK:
        required: false
        type: string
        default: temurin
        description: |
          Specifies the JDK to use, defaults to `temurin`.
      MAIN_BRANCH:
        required: false
        type: string
        default: main
        description: |
          Specifies the main branch for the repository.  
          
          Used in determining whether to publish `SNAPSHOT`s in conjunction with the `PUBLISH_SNAPSHOTS` parameter.

          Also used in determining whether to pull and cache Docker images in conjunction with the `PUBLIC_IMAGES`
          parameter.
      PUBLISH_SNAPSHOTS:
        required: false
        type: boolean
        default: true
        description: |
          Specifies whether Maven `SNAPSHOT`s are published from this build.  Note that even when enabled (as is
          the default) `SNAPSHOT`s are only published when a build occurs on the main branch.  The main branch 
          can be separately configured via the `MAIN_BRANCH` parameter.
      RUN_WINDOWS_BUILD:
        required: false
        type: boolean
        default: true
        description: |
          Specifies whether to build, run and verify against Windows.
      CHANGELOG_FILE:
        required: false
        type: string
        default: CHANGELOG.md
        description: |
          Specifies the Change Log file in the repository from which release notes can be extracted.
      RELEASE_FILES:
        required: false
        type: string
        description: |
          Specifies the release files that should be attached to the GitHub release.  For example a 
          downloadable package that is generated from the repository.  Regardless of this value we 
          will always attach the SBOMs to the release.
      PUBLISH_JACOCO_REPORT:
        required: false
        type: boolean
        default: false
        description: | 
          Specifies that Jacoco Code Coverage reports be published as part of the build.
      REMOTE_VEX:
        required: false
        type: string
        default: ""
        description: |
          Specifies a new line separated list of repository references from which remote VEX statements should be
          obtained and supplied to security scanners to filter out vulnerabilities.

          Generally only needed if your repository relies on other libraries that have applicable VEX statements.
    secrets:
      MVN_USER_NAME:
        required: false
        description: |
          Username for authenticating to a Maven repository to publish `SNAPSHOT`s, only needed if `SNAPSHOT`
          publishing is enabled.
      MVN_USER_PWD:
        required: false
        description: |
          Password/Token for authenticating to a Maven repository to publish `SNAPSHOT`s, only needed if `SNAPSHOT`
          publishing is enabled.
      DOCKER_READ_USER:
        required: false
        description: |
          Username for authenticating to DockerHub, only needed if `USES_DOCKERHUB_IMAGES` is set to true.
      DOCKER_READ_PWD:
        required: false
        description: |
          Password/Token for authenticating to DockerHub, only needed if `USES_DOCKERHUB_IMAGES` is set to true.
      GPG_PRIVATE_KEY:
        required: false
        description: |
          A GPG Private Key that will be used to sign the built artifacts during the build process.  The `pom.xml`
          **MUST** invoke the `maven-gpg-plugin` for this to have an effect.
      GPG_PASSPHRASE:
        required: false
        description: |
          The passphrase protecting the provided GPG Private Key.

    outputs:
      version: 
        description: The detected Maven Version of the project as configured in the top level pom.xml
        value: ${{ jobs.build.outputs.version }}
      is-snapshot:
        description: Whether the Maven build was for a `SNAPSHOT` version.
        value: ${{ jobs.build.outputs.version != '' && contains(jobs.build.outputs.version, 'SNAPSHOT') }}
      
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  cache-dependencies:
    uses: telicent-oss/shared-workflows/.github/workflows/maven-cache-dependencies.yml@vuln-scan-improvements
    with:
      JAVA_VERSION: ${{ inputs.JAVA_VERSION }}
      JDK: ${{ inputs.JDK }}

  cache-docker-images:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3.4.0
        if: ${{ inputs.USES_DOCKERHUB_IMAGES && inputs.PUBLIC_IMAGES != '' && github.ref_name == inputs.MAIN_BRANCH }}
        with:
          username: ${{ secrets.DOCKER_READ_USER }}
          password: ${{ secrets.DOCKER_READ_PWD }}

      - name: Cache Docker Images
        uses: telicent-oss/docker-image-cache-action@v1
        if: ${{ inputs.PUBLIC_IMAGES != '' && github.ref_name == inputs.MAIN_BRANCH }}
        with:
          images: ${{ inputs.PUBLIC_IMAGES }}
          restore-only: false

  build:
    needs: 
      - cache-dependencies
      - cache-docker-images
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      # These have to be exported into the environment due to how the setup-java action configures the Maven
      # settings.xml file to avoid directly embedding credentials into it.
      MAVEN_USERNAME: ${{ secrets.MVN_USER_NAME }}
      MAVEN_PASSWORD: ${{ secrets.MVN_USER_PWD }}
    permissions:
      contents: read
    outputs:
      version: ${{ steps.project.outputs.version }}
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4.2.2
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3.4.0
        if: ${{ inputs.USES_DOCKERHUB_IMAGES && matrix.os == 'ubuntu-latest' }}
        with:
          username: ${{ secrets.DOCKER_READ_USER }}
          password: ${{ secrets.DOCKER_READ_PWD }}

      - name: Restore Cached Docker Images
        if: ${{ inputs.PUBLIC_IMAGES != '' }}
        uses: telicent-oss/docker-image-cache-action@v1
        with:
          images: ${{ inputs.PUBLIC_IMAGES }}
          restore-only: ${{ github.ref_name != inputs.MAIN_BRANCH }}

      - name: Install Java and Maven
        uses: actions/setup-java@v4.7.1
        with:
          java-version: ${{ inputs.JAVA_VERSION }}
          distribution: ${{ inputs.JDK }}
          cache: maven
          server-id: ${{ inputs.MAVEN_REPOSITORY_ID }}
          # Forced to use indirection here, the setup-java action configures the Maven settings.xml to reference
          # the credentials via environment variables
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Check whether GPG Signing is Enabled
        if: ${{ matrix.os == 'ubuntu-latest' }}
        id: gpg-check
        run: |
          if [ "${{ secrets.GPG_PRIVATE_KEY }}" != "" ]; then
            echo "enabled=true" >> "$GITHUB_OUTPUT"
          else
            echo "enabled=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Import GPG key
        if: ${{ matrix.os == 'ubuntu-latest' && steps.gpg-check.outputs.enabled == 'true' }}
        uses: crazy-max/ghaction-import-gpg@v6.2.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Generate Extra Maven Arguments (if needed)
        id: extra-maven-args
        if: ${{ matrix.os == 'windows-latest' || steps.gpg-check.outputs.enabled == 'false' }}
        shell: bash
        run: |
          echo "args=-Dgpg.skip=true" >> "$GITHUB_OUTPUT"

      - name: Build and Verify Maven Package
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          if [ "${{ runner.debug }}" -eq 1 ] 2>/dev/null; then
            mvn ${{ inputs.MAVEN_BUILD_GOALS }} --batch-mode -P${{ inputs.DOCKER_PROFILE }} ${{ inputs.MAVEN_ARGS }} ${{ inputs.MAVEN_DEBUG_ARGS }} ${{ steps.extra-maven-args.outputs.args }}
          else
            mvn ${{ inputs.MAVEN_BUILD_GOALS }} --batch-mode -P${{ inputs.DOCKER_PROFILE }} ${{ inputs.MAVEN_ARGS }} ${{ steps.extra-maven-args.outputs.args }}
          fi

      - name: Build and Verify Maven Package (Windows - Docker Profile disabled)
        if: ${{ matrix.os == 'windows-latest' && inputs.RUN_WINDOWS_BUILD }}
        shell: bash
        # Remember that Windows Action runners DO NOT support Docker so explicitly disable the Docker profile
        run: |
          if [ "${{ runner.debug }}" -eq 1 ] 2>/dev/null; then
            mvn ${{ inputs.MAVEN_BUILD_GOALS }} --batch-mode -P-${{ inputs.DOCKER_PROFILE }} ${{ inputs.MAVEN_ARGS }} ${{ inputs.MAVEN_DEBUG_ARGS }} ${{ steps.extra-maven-args.outputs.args }}
          else
            mvn ${{ inputs.MAVEN_BUILD_GOALS }} --batch-mode -P-${{ inputs.DOCKER_PROFILE }} ${{ inputs.MAVEN_ARGS }} ${{ steps.extra-maven-args.outputs.args }}
          fi

      - name: Trivy Vulnerability Scanning
        id: trivy-scan
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: telicent-oss/trivy-action@v1
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          scan-type: fs
          scan-name: maven
          scan-ref: .
          remote-vex: |
            ${{ inputs.REMOTE_VEX }}

      - name: Upload JaCoCo Report
        if: ${{ matrix.os == 'ubuntu-latest'  && inputs.PUBLISH_JACOCO_REPORT }}
        uses: actions/upload-artifact@v4.4.3
        with:
          name: jacoco-report
          path: |
            target/site/jacoco/
            **/target/site/jacoco/

      - name: Detect Maven version
        id: project
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          echo version=$(mvn -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec) >> $GITHUB_OUTPUT

      # It's safe to skipTests for the Publish step because we just did a full mvn verify in the earlier steps
      # which will have run all the unit and integration tests
      - name: Publish Maven SNAPSHOTs
        # We only publish if all the following are true:
        # - GPG Key was provided for signing
        # - The build was not triggered by Dependabot
        # - The PUBLISH_SNAPSHOTS input was set to true
        # - We're building on the ubuntu runner
        # - We're on the configured MAIN_BRANCH 
        # - The declared version for the Maven project is a SNAPSHOT
        if: ${{ steps.gpg-check.outputs.enabled == 'true' && github.actor != 'dependabot[bot]' && inputs.PUBLISH_SNAPSHOTS && matrix.os == 'ubuntu-latest' && github.ref_name == inputs.MAIN_BRANCH && steps.project.outputs.version != '' && contains(steps.project.outputs.version, 'SNAPSHOT') }}
        run: |
          if [ "${{ runner.debug }}" -eq 1 ] 2>/dev/null; then
            mvn ${{ inputs.MAVEN_DEPLOY_GOALS }} --batch-mode -DskipTests ${{ inputs.MAVEN_ARGS }} ${{ inputs.MAVEN_DEBUG_ARGS }}
          else
            mvn ${{ inputs.MAVEN_DEPLOY_GOALS }} --batch-mode -DskipTests ${{ inputs.MAVEN_ARGS }}
          fi

  github-release:
    needs: build
    if: ${{ github.ref_type == 'tag' && needs.build.outputs.version != '' && !contains(needs.build.outputs.version, 'SNAPSHOT') }}
    uses: telicent-oss/shared-workflows/.github/workflows/maven-github-release.yml@vuln-scan-improvements
    with:
      CHANGELOG_FILE: ${{ inputs.CHANGELOG_FILE }}
      DOCKER_PROFILE: ${{ inputs.DOCKER_PROFILE }}
      JAVA_VERSION: ${{ inputs.JAVA_VERSION }}
      JDK: ${{ inputs.JDK }}
      MAVEN_ARGS: ${{ inputs.MAVEN_ARGS }}
      MAVEN_DEBUG_ARGS: ${{ inputs.MAVEN_DEBUG_ARGS }}
      MAVEN_DEPLOY_GOALS: ${{ inputs.MAVEN_DEPLOY_GOALS }}
    secrets: inherit
