name: Generate an SBOM for the Container Image and Scan with Trivy

on:
  workflow_call:
    inputs:
      SCAN_NAME:
        type: string
        description: |
          A developer friendly name for the image to differentiate scan reports where a repository is
          building multiple images.
        required: true
      IMAGE_REF:
        type: string
        description: |
          Specifies the full image reference (repository, name and tag) for an image you wish to scan.
        required: true
    outputs:
      artifact-name:
        value: ${{ inputs.SCAN_NAME }}

jobs:
  generate-sbom:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.1

      - name: Trivy Cache
        id: trivy-cache
        uses: yogeshlonkar/trivy-cache-action@v0.1.8
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          prefix: ${{ github.repository_id }}

      - name: Download Trivy Vulnerability DB
        if: ${{ steps.trivy-cache.outputs.cache-hit == '' || steps.trivy-cache.outputs.cache-hit == 'false' }}
        uses: aquasecurity/trivy-action@master
        env:
          TRIVY_DOWNLOAD_DB_ONLY: true
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db,ghcr.io/aquasecurity/trivy-db:2
          TRIVY_SKIP_JAVA_DB_UPDATE: true
        with:
          scan-type: image
          timeout: 10m0s
          cache-dir: .trivy
          # Counter-intuitive BUT trivy-action has its own cache which duplicates our own but in a less flexible way
          cache: false

      - name: Generate SBOM for image
        uses: aquasecurity/trivy-action@master
        env:
          TRIVY_SKIP_DB_UPDATE: true
          TRIVY_SKIP_JAVA_DB_UPDATE: true
        with:
          scan-type: 'image'
          format: 'cyclonedx'
          output: ${{ inputs.SCAN_NAME }}-bom.json
          image-ref: ${{ inputs.IMAGE_REF }}
          cache-dir: .trivy
          cache: false

      - name: Store the SBOM
        uses: actions/upload-artifact@v4.4.3
        with:
          name: ${{ inputs.SCAN_NAME }}
          path: ${{ inputs.SCAN_NAME }}-bom.json
