name: Create Python release PR from pyproject.toml

on:
  workflow_call:
    inputs:
      PRE_RELEASE:
        default: false
        required: false
        type: boolean
      DEFAULT_BRANCH:
        default: main
        required: false
        type: string
      SKIP_GITHUB_RELEASE:
        default: true
        required: false
        type: boolean
      VERSION_FILE:
        default: pyproject.toml
        required: false
        type: string
      RELEASE_TYPE:
        default: python
        required: false
        type: string

jobs:
  create-release-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: ${{ inputs.RELEASE_TYPE }}
          package-name: release-please-action
          prerelease: ${{ inputs.PRE_RELEASE }}
          default-branch: ${{ inputs.DEFAULT_BRANCH }}
          extra-files: |
            ${{ inputs.VERSION_FILE }}
          version-file: ${{ inputs.VERSION_FILE }}
          changelog-types: '[
          {"type":"feat","section":"Features","hidden":false},
          {"type":"fix","section":"Bug Fixes","hidden":false},
          {"type":"chore","section":"Miscellaneous","hidden":false},
          {"type":"perf","section":"Performance improvements","hidden":false}
          ]'
          skip-github-release: ${{ inputs.SKIP_GITHUB_RELEASE }}
