name: Downloads SBOM artifact to attach to given releease

on:
  workflow_call:
    inputs:
      SBOM:
        required: true
        type: string
        description: The reference to the SBOM to downloads
      VERSION:
        required: true
        type: string
        description: The version to attach the SBOM to

jobs:
  attach-sbom-to-release:
    name: Attach SBOM to release
    runs-on: ubuntu-latest
    steps:
      - name: Download SBOM
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.SBOM }}

      - name: Upload SBOM to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ inputs.SBOM }}-bom.json
          tag: v${{ inputs.VERSION }}
          overwrite: true
          file_glob: true
