name: Does release please

on:
  workflow_call:
    inputs:
      VERSION:
        required: false
        type: string
        description: The version being released

jobs:
  do-release:
    uses: telicent-oss/shared-workflows/.github/workflows/python-create-release-pr.yml@vuln-scan-improvements
    with:
      SKIP_GITHUB_RELEASE: false
