name: Build Python Release

on:
  workflow_call:
    inputs:
      PACKAGE:
        required: true
        type: string
        description: The package to store the generate SBOM in

jobs:
  cyclone-dx-test:
    name: Cyclone DX Vulnerability Scan
    uses: ./.github/workflows/python-cyclone-dx.yml

  build:
    name: Build Release Distribution
    runs-on: ubuntu-latest
    needs:
    - cyclone-dx-test

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.x"

    - name: Install pypa/build
      run: >-
        python3 -m
        pip install
        build
        --user

    - name: Download SBOM
      uses: actions/download-artifact@v3
      with:
        name: cyclone-dx-sbom

    - name: Place SBOM in pkg
      run: |
        mv ${{ github.run_number }}-cyclone-dx.json ${{ inputs.PACKAGE }}/sbom.json

    - name: Build a binary wheel and a source tarball
      run: python3 -m build

    - name: Store the distribution packages
      uses: actions/upload-artifact@v3
      with:
        name: python-package-distributions
        path: dist/
