name: Downloads an artifact of a given name and scan the SBOM

on:
  workflow_call:
    inputs:
      SCAN_NAME:
        type: string
        description: |
          The name of the scan to download the artifact of to scan
        required: true
      SBOM_FILE:
        type: string
        description: |
          The path to the SBOM file within the artifact to scan
        required: true
      SECURITY_ISSUES_BLOCK_ONLY_IF_FIX_AVAILABLE:
        required: false
        default: false
        type: boolean
        description: |
          Sets --only-fixed flag

jobs:
  scan:
    name: Scan for all vulnerabilities and store the report
    runs-on: ubuntu-latest
    steps:
      - name: Download SBOM
        uses: actions/download-artifact@v4.1.8
        with:
          name: ${{ inputs.SCAN_NAME }}

      - name: Trivy Vulnerability Scan
        id: trivy-scan
        uses: telicent-oss/trivy-action@v1
        with:
          scan-type: sbom
          scan-name: ${{ inputs.SCAN_NAME }}
          scan-ref: ${{ inputs.SBOM_FILE }}
          allow-unfixed: ${{ inputs.SECURITY_ISSUES_BLOCK_ONLY_IF_FIX_AVAILABLE }}
          remote-vex: |
            telicent-oss/telicent-base-images
            ${{ inputs.REMOTE_VEX }}

      - name: Grype Vulnerability Scan
        id: grype-scan
        uses: telicent-oss/grype-action@v1
        with:
          scan-type: sbom
          scan-name: ${{ inputs.SCAN_NAME }}
          scan-ref: ${{ inputs.SBOM_FILE }}
          allow-unfixed: ${{ inputs.SECURITY_ISSUES_BLOCK_ONLY_IF_FIX_AVAILABLE }}
          remote-vex: |
            telicent-oss/telicent-base-images
            ${{ inputs.REMOTE_VEX }}
