name: Python Trivy Scan

on:
  workflow_call:
    inputs:
      SCAN_NAME:
        type: string
        required: true
        description: |
          A developer friendly name for the image to differentiate scan reports where a repository is
          building multiple images.
      EXTRAS_ARG:
        required: false
        type: string
        description: Any extra dependencies to be included in SBOM scan

jobs:
  generate-sbom:
    name: Generate SBOM
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.x"

    - name: Prepare pip and and pip-tools
      run: |
        python -m pip install --upgrade pip
        python -m pip install pip-tools

    - name: Generate requirements
      run: |
        python -m piptools compile ${{ inputs.EXTRAS_ARG }} -o requirements.txt pyproject.toml
        pip install cyclonedx-bom==4.4.3

    - name: Generate SBOM
      run: |
        python -m cyclonedx_py requirements > ${{ inputs.SCAN_NAME }}.bom.json

    - name: Store the SBOM
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.SCAN_NAME}}-application
        path: ${{ inputs.SCAN_NAME }}.bom.json

  scan-sbom-for-high-crit:
    name: Scan SBOM for HIGH and CRITICAL
    needs:
    - generate-sbom
    runs-on: ubuntu-latest
    steps:
      - name: Download SBOM
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.SCAN_NAME}}-application
      - name: Scan SBOM
        uses: aquasecurity/trivy-action@master
        with:
          exit-code: '1'
          format: 'table'
          severity: 'HIGH,CRITICAL'
          scan-ref: ${{ inputs.SCAN_NAME }}.bom.json
          scan-type: 'sbom'
          scanners: 'vuln'

  scan-sbom-for-low-med:
    name: Scan SBOM for LOW and MEDIUM
    needs:
    - generate-sbom
    runs-on: ubuntu-latest
    steps:
      - name: Download SBOM
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.SCAN_NAME}}-application
      - name: Scan SBOM
        uses: aquasecurity/trivy-action@master
        with:
          exit-code: '0'
          format: 'table'
          severity: 'UNKNOWN,LOW,MEDIUM'
          scan-ref: ${{ inputs.SCAN_NAME }}.bom.json
          scan-type: 'sbom'
          scanners: 'vuln'
