name: Build Python Release

on:
  workflow_call:
    inputs:
      PACKAGE:
        required: true
        type: string
        description: The package to store the generated SBOM in
      VERSION:
        required: true
        type: string
    outputs:
      application-sbom-artifact-name:
        value: ${{ jobs.generate-and-scan-application-sbom.outputs.artifact-name }}

jobs:
  generate-and-scan-application-sbom:
    name: Generate and Scan Application SBOM
    uses: telicent-oss/shared-workflows/.github/workflows/python-generate-and-scan-application.yml@TPT-220
    with:
      SCAN_NAME: ${{ inputs.PACKAGE }}-${{ inputs.VERSION }}

  build:
    name: Build Release Distribution
    runs-on: ubuntu-latest
    needs:
    - generate-and-scan-application-sbom
    steps:
    - uses: actions/checkout@v4.2.1
    - name: Set up Python
      uses: actions/setup-python@v5.2.0
      with:
        python-version: "3.x"

    - name: Install pypa/build
      run: >-
        python3 -m
        pip install
        build
        --user

    - name: Download SBOM
      uses: actions/download-artifact@v4.1.8
      with:
        name: ${{ needs.generate-and-scan-application-sbom.outputs.artifact-name }}

    - name: Place SBOM in pkg
      run: |
        mv ${{ needs.generate-and-scan-application-sbom.outputs.artifact-name }}-bom.json ${{ inputs.PACKAGE }}/sbom.json

    - name: Build a binary wheel and a source tarball
      run: python3 -m build

    - name: Store the distribution packages
      uses: actions/upload-artifact@v4.4.3
      with:
        name: ${{ needs.generate-and-scan-application-sbom.outputs.artifact-name }}-dist
        path: dist/
