name: Scan Container Image with Trivy

on:
  workflow_call:
    inputs:
      SCAN_NAME:
        type: string
        description: |
          A developer friendly name for the image to differentiate scan reports where a repository is
          building multiple images.
      IMAGE_REF:
        type: string
        description: |
          Specifies the full image reference (repository, name and tag) for an image you wish to scan.
        required: true
      PATH_TO_TRIVY_IGNORES_ONLY_FOR_BUILD_IMAGE:
        required: false
        type: string
        description: Only allowed for BUILD image, MUST NOT be used with DEPLOY image. Full relative path to trivy ignore file.
      DRY_RUN:
        required: false
        default: false
        type: boolean
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.1

      - name: Login to Docker Hub
        uses: docker/login-action@v3.3.0
        if: ${{ !inputs.DRY_RUN }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Download image artifact
        uses: actions/download-artifact@v4
        if: ${{ inputs.DRY_RUN }}
        with:
          name: ${{ inputs.SCAN_NAME }}.tar
          path: .

      - name: Load docker image for dry run scans
        if: ${{ inputs.DRY_RUN }}
        run: docker load --input ${{ inputs.SCAN_NAME }}.tar

      - name: Trivy Cache
        id: trivy-cache
        uses: yogeshlonkar/trivy-cache-action@v0.1.8
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          prefix: ${{ github.repository_id }}

      - name: Download Trivy Java DB
        if: ${{ steps.trivy-cache.outputs.cache-hit == '' || steps.trivy-cache.outputs.cache-hit == 'false' }}
        uses: aquasecurity/trivy-action@master
        env:
          TRIVY_DOWNLOAD_JAVA_DB_ONLY: true
          TRIVY_JAVA_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-java-db,ghcr.io/aquasecurity/trivy-java-db:1
        with:
          scan-type: image
          timeout: 10m0s
          cache-dir: .trivy
          # Counter-intuitive BUT trivy-action has its own cache which duplicates our own but in a less flexible way
          cache: false

      - name: Download Trivy Vulnerability DB
        if: ${{ steps.trivy-cache.outputs.cache-hit == '' || steps.trivy-cache.outputs.cache-hit == 'false' }}
        uses: aquasecurity/trivy-action@master
        env:
          TRIVY_DOWNLOAD_DB_ONLY: true
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db,ghcr.io/aquasecurity/trivy-db:2
        with:
          scan-type: image
          timeout: 10m0s
          cache-dir: .trivy
          # Counter-intuitive BUT trivy-action has its own cache which duplicates our own but in a less flexible way
          cache: false

      - name: Trivy Vulnerability Scan
        uses: aquasecurity/trivy-action@master
        env:
          TRIVY_SKIP_DB_UPDATE: true
          TRIVY_SKIP_JAVA_DB_UPDATE: true
        with:
          scan-type: "image"
          image-ref: ${{ inputs.IMAGE_REF }}
          output: trivy-docker-report.json
          format: json
          exit-code: 0
          cache-dir: .trivy
          # Counter-intuitive BUT trivy-action has its own cache which duplicates our own but in a less flexible way
          cache: false
          trivyignores: ${{ inputs.PATH_TO_TRIVY_IGNORES_ONLY_FOR_BUILD_IMAGE }}

      - name: Upload Vulnerability Scan Results
        uses: actions/upload-artifact@v4.4.3
        with:
          name: trivy-docker-report-${{ inputs.SCAN_NAME }}
          path: trivy-docker-report.json
          retention-days: 30

      - name: Generate SBOM for image (IF has tags for release)
        if: startsWith(github.ref, 'refs/tags/')
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "image"
          format: "cyclonedx"
          output: trivy-image-scan-sbom-${{ inputs.SCAN_NAME }}.json
          image-ref: ${{ inputs.IMAGE_REF }}
          cache-dir: .trivy
          # Counter-intuitive BUT trivy-action has its own cache which duplicates our own but in a less flexible way
          cache: false
          trivyignores: ${{ inputs.PATH_TO_TRIVY_IGNORES_ONLY_FOR_BUILD_IMAGE }}

      - name: Release SBOM for image (IF has tags for release)
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2.0.8
        with:
          files: |
            trivy-image-scan-sbom-${{ inputs.SCAN_NAME }}.json

      - name: Release report on docker sbom (IF has tags for release)
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2.0.8
        with:
          files: |
            trivy-docker-report.json

      - name: Fail Build on High/Critical Vulnerabilities
        uses: aquasecurity/trivy-action@master
        env:
          TRIVY_SKIP_DB_UPDATE: true
          TRIVY_SKIP_JAVA_DB_UPDATE: true
        with:
          scan-type: "image"
          image-ref: ${{ inputs.IMAGE_REF }}
          format: table
          severity: HIGH,CRITICAL
          ignore-unfixed: true
          exit-code: 1
          cache-dir: .trivy
          # Counter-intuitive BUT trivy-action has its own cache which duplicates our own but in a less flexible way
          cache: false
          trivyignores: ${{ inputs.PATH_TO_TRIVY_IGNORES_ONLY_FOR_BUILD_IMAGE }}
