name: Scan Container Image with Trivy

on:
  workflow_call:
    inputs:
      SCAN_NAME:
        type: string
        description: |
          A developer friendly name for the image to differentiate scan reports where a repository is
          building multiple images.
      DOCKERFILE:
        type: string
        description: |
          Specifies the full path to the Dockerfile within the repository.
        required: true

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  misconfiguration-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Trivy Vulnerability Scanning
        id: trivy-scan
        uses: telicent-oss/trivy-action@v1
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          scan-type: config
          scan-name: docker-misconfiguration-${{ inputs.SCAN_NAME }}
          scan-ref: ${{ inputs.DOCKERFILE }}
