# Vulnerability Scanning on Repo
on:
  workflow_call:
    inputs:
      APP_NAME:
        required: true
        type: string
        description: The Name of the app being checked
        default: test
      working-directory:
        required: false
        default: .
        type: string
      package-directory:
        required: false
        default: .
        type: string
      TRIVY_IGNORES:
        required: false
        type: string
        description: comma-separated list of relative paths to .trivyignore files

env:
  BOM_FILE_NAME: "${{ inputs.APP_NAME }}${{ inputs.package-directory != '.' && inputs.package-directory || '' }}.sbom.json"

jobs:
  generate_bom:
    defaults:
      run:
        working-directory: ./${{ inputs.package-directory }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Get version from package.json
        uses: martinbeentjes/npm-get-version-action@main
        id: package-version
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Get node version
        id: node
        run: |
          echo "version=$(node -v)" >> $GITHUB_OUTPUT
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}-${{ steps.node.outputs.version }}
      - run: LOCAL_MACHINE=false yarn install --frozen-lockfile --network-concurrency 1
      - run: yarn global add @cyclonedx/cyclonedx-npm
      # RE: --ignore-npm-errors below: See https://github.com/CycloneDX/cyclonedx-node-npm/issues/810#issuecomment-1594252293
      - run: cyclonedx-npm --ignore-npm-errors --output-file ./${{ env.BOM_FILE_NAME }}
      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.run_number }}${{ inputs.package-directory }}.sbom.json
          path: ${{ inputs.package-directory }}/${{ env.BOM_FILE_NAME }}
      - name: Upload trivyignore
        if: ${{ inputs.TRIVY_IGNORES }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.run_number }}.trivyignore
          if-no-files-found: error
          include-hidden-files: true
          path: ${{ inputs.TRIVY_IGNORES }}
  run_vulnerability_scanner:
    needs:
      - generate_bom
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ github.run_number }}${{ inputs.package-directory }}.sbom.json
      - name: Download trivyignore
        if: ${{ inputs.TRIVY_IGNORES }}
        uses: actions/download-artifact@v4
        with:
          name: ${{ github.run_number }}.trivyignore
      - name: Scan SBOM, report as table file
        uses: aquasecurity/trivy-action@master
        with:
          exit-code: '0' # always pass
          scan-type: 'sbom'
          scan-ref: ${{ inputs.working-directory }}/${{ env.BOM_FILE_NAME }} # Need; See /aquasecurity/trivy-action/pull/314
          scanners: 'vuln'
          format: 'table'
          output: trivy-sbom-vuln-report.txt
          trivyignores: ${{ inputs.TRIVY_IGNORES }}
      - run: cat trivy-sbom-vuln-report.txt
      - name: Attach trivy-sbom-vuln-report.txt to release
        uses: softprops/action-gh-release@v2
        # Unsure if file is empty (for now)
        continue-on-error: true
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            trivy-sbom-vuln-report.txt
      - name: Scan SBOM, report as json file
        uses: aquasecurity/trivy-action@master
        with:
          exit-code: '0' # always pass
          scan-type: 'sbom'
          scan-ref: ${{ inputs.working-directory }}/${{ env.BOM_FILE_NAME }} # Need; See /aquasecurity/trivy-action/pull/314
          scanners: 'vuln'
          output: trivy-sbom-vuln-report.json
          format: json
          trivyignores: ${{ inputs.TRIVY_IGNORES }}
      - name: Attach trivy-sbom-vuln-report.json to release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            trivy-sbom-vuln-report.json
  report_high_risk_vulnerability_scanner:
    needs:
      - generate_bom
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ github.run_number }}${{ inputs.package-directory }}.sbom.json
      - name: Download trivyignore
        if: ${{ inputs.TRIVY_IGNORES }}
        uses: actions/download-artifact@v4
        with:
          name: ${{ github.run_number }}.trivyignore
      - name: Test SBOM (HIGH,CRITICAL)
        uses: aquasecurity/trivy-action@master
        with:
          exit-code: '0' # Don't kill, this run is just output
          severity: 'HIGH,CRITICAL'
          ignore-unfixed: true
          scan-ref: ${{ inputs.working-directory }}/${{ env.BOM_FILE_NAME }} # Need; See /aquasecurity/trivy-action/pull/314
          scan-type: 'sbom'
          scanners: 'vuln'
          format: 'table'
          output: trivy-sbom-HIGH-CRITICAL-vuln-report.txt
          trivyignores: ${{ inputs.TRIVY_IGNORES }}
      - run: cat trivy-sbom-HIGH-CRITICAL-vuln-report.txt
      - name: Release sbom
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ${{ inputs.working-directory }}/${{ env.BOM_FILE_NAME }}
  test_high_risk_vulnerability_scanner:
    needs:
      - generate_bom
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ github.run_number }}${{ inputs.package-directory }}.sbom.json
      - name: Download trivyignore
        if: ${{ inputs.TRIVY_IGNORES }}
        uses: actions/download-artifact@v4
        with:
          name: ${{ github.run_number }}.trivyignore
      - name: Test SBOM (HIGH,CRITICAL)
        uses: aquasecurity/trivy-action@master
        with:
          exit-code: '1' # Kill job if fail
          severity: 'HIGH,CRITICAL'
          ignore-unfixed: true
          scan-ref: ${{ inputs.working-directory }}/${{ env.BOM_FILE_NAME }} # Need; See /aquasecurity/trivy-action/pull/314
          scan-type: 'sbom'
          scanners: 'vuln'
          format: 'table'
          output: trivy-sbom-HIGH-CRITICAL-vuln-report.txt
          trivyignores: ${{ inputs.TRIVY_IGNORES }}
